<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应mapper接口所在的位置-->
<mapper namespace="com.example.kirracloud.mapper.order.UserInfoMapper">
    <!---->
    <select id="selectUser" resultType="com.example.kirracloud.entity.UserInfo">
        select *
        from user_info
        where id = #{id}
    </select>

    <!--useGeneratedKeys="true" keyProperty="id"-->
    <insert id="save" parameterType="com.example.kirracloud.entity.UserInfo">
        insert into user_info(id, u_name, u_age)
        values (#{userInfo.id}, #{userInfo.userName}, #{userInfo.userAge})
    </insert>


</mapper>